.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: rgb(255, 255, 255);
    width: 72px;
    z-index: 200;
    padding-top: 5px;
}
.sidebar-link{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.sidebar-link1:hover{
    background-color: rgb(224, 216, 216);
    border-radius:40px ;
}
.sidebar-link img{
    height: 24px;
    margin-bottom:4px ;
}
.sidebar-link div{
    font-family: Roboto,Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;

}