
.thumbline{
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
}
.thumbline:active{
    border-radius: 0px;
}

.vedio-title{
    margin-top: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 10px;
}
.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.profile-pic{
    width: 36px;
    border-radius: 50px;
    cursor: pointer;
}
.profile-pic:hover,
.thumbline:hover{
    opacity: 0.8;
}
.thumbline-row{
    margin-bottom: 10px;
    position: relative;
}
.vedio-author,
.vedio-stats {
    font-size:12px;
    color: rgb(96,96,96);
}
.vedio-author{
    margin-bottom: 4px;
}
.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap:40px ;
}
@media (max-width: 780px){
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}